extends layout

block content
    div(id="jssor_1" style="height:790px;")
        <!-- Loading Screen -->

        div(class="slides" data-u="slides" id="div4")
            div(class="slides1" data-p="225.00" id="div5" style="display: none;")
                div(class="screen1")
                    div(class="heading")
                        div(class = "title") Science Guide
                        div(class = "sub-title" id="sub-title1") Сообщество молодых ученых России
                        div(class = "sub-title" id="sub-title2") Помогаем науке и бизнесу на пути к успешному сотрудничеству
                    div(class="content")
                        div(class="scr1 text")
                            ul Здесь компании могут <br><br>
                                li предложить работу учёным
                                li найти сотрудника <br> для подачи совместного гранта
                                li заказать написание научно-популярной статьи
                                li взять интервью <br> у исследователя
                                li попросить помощи <br> в решении инновационной задачи
                        div(class="scr1")
                            img(class="brain" src="/images/brain.png" alt="brain-pic")
                        div(class="scr1 text")
                            ul Здесь учёные узнают <br> о профессиональных новостях по: <br><br>
                                li публикациям 
                                li грантам 
                                li конференциям 
                                li коллаборациям <br><br>
                            form(method='post', action='/')
                            label(for="name") Ваше имя <br> 
                            input(type="textfield" id="name")
                            label(for="surname") <br><br> Ваша фамилия <br>
                            input(type="textfield" id="surname")
                            label(for="submit") <br><br>
                            input(type="submit" value="Зарегистрироваться")


            <!-- Screen 1-->            
            div(class="slides2" data-p="225.00" style="display: none;")
                div(class="Scientists")
                    div(class="Scientists-header") О сотрудничестве с учеными
                    div(class="science-text")
                        SCIENCE SHARING – это коллаборация. <br><br> Объединение учёных, работающих в смежных областях науки.<br> Все мы знаем, как иногда необходимо сделать один эксперимент для того, чтобы оценить перспективность своего исследования. Как срочно требуется найти оборудование, которого нет в лаборатории и как сложно его найти. <br> Тоже самое происходит с реактивами, когда Вы получаете рецензию на свою статью в журнале, в котором Вы мечтали опубликовать своё исследование и всего какой-то маленький шаг отделяет Вас от успеха. <br><br> Мы здесь, чтобы помочь Вам. Свяжитесь с нами и мы соединим Вас с тем учёным, у которого есть то, что Вам нужно, а возможно Вы поможете ему тем, что умеете сами. <br><br>
                        p(style="color:#0000FF") #sciencesharing <br>

            <!-- Screen 2-->
            div(class="slides3" data-p="225.00" style="display: none;")
                div(class="Scientists")
                    div(class="science-text") <br><br> SCIENCE HACK – научные хакатоны,<br><br><br>во время которых рождаются новые проекты для исследований.<br> Мы верим, что все самые успешные и прорывные открытия рождаются на стыке наук. В нашем клубе зарегистрированы самые лучшие учёные страны, которых мы приглашаем поучаствовать в интеллектуальных играх. На наших встречах Вы можете побрейнштормить совместно на тему, которая пока что не нашла у Вас решения. Не бойтесь озвучивать свои идеи и обсуждать их с коллегами. Русская пословица гласит: «Одна голова хорошо, а две лучше». Возможно Вы найдёте себе коллегу на года, с которым/ой совершите великие открытия, достойные Нобелевской премии и публикации в лучшем научном журнале.<br><br>
                        p(style="color:#0000FF") #sciencehack

            <!-- Screen 3-->
            div(class="slides4" data-p="225.00" style="display: none;")
                div(class="Scientists")
                    div(class="science-text") <br><br> SCIENCE APPLICATION – новостной ресурс для учёных. <br><br> Сколько времени раньше Вы тратили на поиск статей? Как часто вы сталкивались с тем, что приезжая на конференцию вдруг узнаете, что кто-то еще исследует тоже самое, что и Вы? <br> В настоящее время ни одна система не решает проблему информированности учёных. Поэтому мы сделаем это для Вас.<br> Мы делаем сервис, который будет подсказывать Вам обо всех самых актуальных новостях из мира науки. И начинаем мы со статей. Вышла новая публикация по вашей тематике - Вы сразу же узнаете о ней, т.к. мы пришлём её Вам на почту или в виде Push-уведомления на экран телефона. Самое ценный ресурс на Планете Земля это время. Время не купишь ни за какие деньги. И экономия времени это то, чем мы можем Вам помочь. <br><br>
                    p(style="color:#0000FF")#scienceapp
            
            div(class="slides5" data-p="225.00" data-po="80% 55%" style="display: none;")
                div(class="screen4")
                    div(class="contacts") Contacts <br><br> +7-968-006-09-33  <br> info@sci-guide.com  <br>

            div(class="slides6" data-p="225.00" data-po="80% 55%" style="display: none;")
                div(class="Business")
                    div(class="Business-header") О сотрудничестве с бизнесом
                    div(class="business-text") SCIENCE HACK – научные хакатоны, во время которых рождаются новые проекты для исследований. Мы знаем, что перед инновационными компаниями стоит острая задача поиска кадров под новые направления и исследования. Вам сложно найти правильных сотрудников? У вас есть какая-то гипотеза, которую Вы хотели бы проверить?<br> Мы проводим хакатоны по естественнонаучным направлениям. Мы подбираем лучших, из разных областей, формируем команду, тщательно отбирая участников. Мы разрабатываем комплексное решение усилиями экспертов из разных сфер, дополняющих друг друга. К команде учёных мы добавляем маркетологов и бизнесменов, для того чтобы исследовательскую инициативу дополнить разработкой.<br><br>
                    ul(class="scr2-text") Также Вы можете поставить задачу разработать:<br><br>
                        li прототип инновационного продукта
                        li идею для высокотехнологичного бизнеса
                        li исследование нашими учеными 
                        li набор идей лучших ученых по заданной теме.

        <!-- Bullet Navigator -->
        div(data-u="navigator" class="jssorb05" id="div6" data-autocenter="1")
        
            <!-- bullet navigator item prototype -->
            div(data-u="prototype" id="div7")

        <!-- Arrow Navigator -->
        span(data-u="arrowleft" class="jssora22l" id="span1" data-autocenter="2")
        span(data-u="arrowright" class="jssora22r" id="span2" data-autocenter="2")
                 

                        
