doctype html
html
  head
    doctype html
    title Sciense guide
    meta(http-equiv='Content-type' charset='utf-8' name='Sience-guide' content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='../stylesheets/style.css', type="text/css", media='screen,projection')

    script(type="text/javascript" src="../javascripts/jquery-1.11.3.min.js")
    script(type="text/javascript" src="../javascripts/jssor.slider.mini.js")
    script(type="text/javascript" src ="../javascripts/script.js")

  body    
    block content
