.try-div{
    font-family: helvetica;
    font-size: 50px;
    background-color: #0ff;
}

body{
    padding:0px; 
    margin:0px; 
    background-color:#fff;
    font-family: helvetica, sans-serif, Arial;
    font-size:16pt;
}
@font-face {
    font-family: HelveticaNeueCyr-Bold; /* Гарнитура шрифта */
    src: url(../fonts/HelveticaNeueCyr-Bold.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: HelveticaNeueCyr-Light; /* Гарнитура шрифта */
    src: url(../fonts/HelveticaNeueCyr-Light.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: HelveticaNeueCyr-Roman; /* Гарнитура шрифта */
    src: url(../fonts/HelveticaNeueCyr-Roman.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: HelveticaNeueCyr-UltraLight; /* Гарнитура шрифта */
    src: url(../fonts/HelveticaNeueCyr-UltraLight.otf); /* Путь к файлу со шрифтом */
   }   

/* from index.html */
        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */

.jssorb05 {
    position: absolute;
    }
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('../img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
    }           
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
         
.jssora22l, .jssora22r {
    display: block;
    position: absolute;
/* size of arrow element */
    width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('../img/a22.png') center center no-repeat;
            overflow: hidden;
        }
        
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }


#jssor_1 {
    position: relative; 
    margin: 0 auto; 
    top: 0px; 
    left: 0px; 
    width: 1550px;
    height: 790px;
    overflow: hidden; 
    visibility: hidden; 
}

#div1{position: absolute; top: 0px; left: 0px;}
#div2{filter: alpha(opacity=70); opacity: 0.7; position: absolute; 
      display: block; top: 0px; left: 0px; width: 100%; height: 100%;}
#div3{position:absolute; display:block; background:url('../img/loading.gif') no-repeat center center;
      top:0px;left:0px;width:100%;height:100%;}
#div4{cursor: default; position: relative; 
      top: 0px; left: 0px; width: 1550px; height: 790px; overflow: hidden;}
#div5{background-color: #0cc;}
#div6{bottom:50px;right:50px;}
#div7{width:16px;height:16px;}
#span1{top:0px;left:12px;width:40px;height:58px;}
#span2{top:0px;right:12px;width:40px;height:58px;}
        
        
.text-ultralight{
        font-family: HelveticaNeueCyr-UltraLight;
}
.screen1{
    width: 100%;
    padding-bottom: 7%;
    display: block;
    margin: 0 auto;
    background: linear-gradient(to right, #FE2EF7, #00FFFF);
    
}
.title{
    font-family: HelveticaNeueCyr-Roman;
    font-size: 80px;
    display: block;
    margin: 0 auto;
    width: 700px;
    padding-top:3%;
    text-align: center;
    color: white;
}
.sub-title{
    font-family: HelveticaNeueCyr-Light;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    width: 700px;
    text-align: center;
    margin-top: 1%;   
}
#sub-title1 {
    font-family: HelveticaNeueCyr-Light;
}
#sub-title2 {
    margin-bottom: 3%;
}
.content{
      width: 960px;
      display: block;
      margin: 0 auto;
      margin-top: 2%;
}
.brain{
    display: inline-block;
    margin: 0 auto;
    display: inline-block;
    width: 350px;
}
.scr1{
    display: inline-block;
    margin: 0 auto;
    width: 385px;
    vertical-align: top;
    font-family: HelveticaNeueCyr-Light;
    font-size: 20px;
    text-align: center;

}
.text{
    width: 275px;
    margin-top: 20px;
    text-align: left;
}

.screen2{
    width: 100%;
    text-align: center;
}
.Scientists{
    border: 5px solid #00FFFF;
    width: 800px;
    margin:  0 auto;
    margin-top: 50px;
    padding-bottom: 30px;
}
.Scientists-header{
    margin: 0 auto;
    display: block;
    width: 800px;
    margin-top: 50px;
    font-size: 28pt;
    font-family: HelveticaNeueCyr-Light;
    text-align: center;
}
.science-text{
    margin: 0 auto;
    display: block;
    width: 650px;
    margin-top: 30px;
    text-align: center;
}
.Business{
    border: 5px solid #FF00FF;
    width: 850px;
    margin:  0 auto;
    margin-top: 50px;
    padding-bottom: 30px;
}
.Business-header{
    margin-top: 50px;
    font-size: 28pt;
    font-family: HelveticaNeueCyr-Light;
    text-align: center;
}

.business-text{
    width: 750px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    text-align: center;
}
.scr2-text{
    text-align: justify;
    display: block;
    margin: 0 auto;
    width: 500px;
}
.screen4{
    width: 100%;
    height: 110%;
    text-align: center;
    vertical-align:50%;
}
.contacts{
    width: 400px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    border:5px solid #A9A9F5;
    margin-top: 200px;
    padding: 80px;
    padding-bottom: 100px;
}